eval "$(lorri direnv)"

# Backed up .env
# Just add to .env after clone
GH_TOKEN=XXX

#LOG_LEVEL="DEBUG"
REPO_URL="https://github.com/ja0nz/ja.nz"
CONTENT_PATH="./content"

MD2ID='MD2TITLE[0]'
MD2DATE='MD2TITLE[1]'
MD2TITLE='title,timestamp'
MD2LABELS='tags'

dotenv_if_exists .env
