watch_file devenv.nix
watch_file devenv.yaml
watch_file devenv.lock
eval "$(devenv print-dev-env)"
dotenv_if_exists .env

# Needed by README.org
# export ASSET_BASE="https://raw.githubusercontent.com/ja0nz/ja.nz/main/static"
export BLOG_BASE="https://ja.nz"
# export ROOT=$(pwd)
