eval "$(lorri direnv)"

# Needed by README.org
export ASSET_BASE="https://raw.githubusercontent.com/ja0nz/ja.nz/main/static"
export BLOG_BASE="https://ja.nz"
export ROOT=$(pwd)
# Needed: CONTENT_PATH

# #Needed by gh-cms
# #Set in .env
# GH_TOKEN=XXX
# #CONTENT_PATH="./content" -> set in .env

# #LOG_LEVEL="DEBUG"
# REPO_URL="https://github.com/ja0nz/ja.nz"

# MD2ID='MD2TITLE[0]'
# MD2DATE='MD2TITLE[2]'
# MD2TITLE='title[0],title[1],timestamp'
# MD2LABELS='tags'

dotenv_if_exists .env
PATH_add scripts
