content
.env
node_modules/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.gitsecret/keys/random_seed
!*.secret
api/wrangler.toml

.log
.svelte-kit/
build/

dev/
front_old/
