/* MOBILE VIEW @ hardcoded px value
 * apply 'no-content' class to #not-sidebar to toggle content
 */
@media (max-width: 1100px) {
  .sidebar {
    display: grid;
    > * {
      background-color: yellow;
      grid-area: 1 / 1;
    }
    > .no-content {
      @apply visually-hidden;
    }
  }
}
