/*
  CLUSTER
 ┌───────┐ ┌───────┐ ┌───────┐
 │       │ │       │ │       │
 └───────┘ └───────┘ └───────┘

  https://every-layout.dev/layouts/cluster/

  A layout that lets you distribute items with consitent
  spacing, regardless of their size

  ARGS
  * gap: --cluster--gap, var(space-size-1)
  - This defines the space between each item

  * justify-content: --cluster--horizontal-alignment, flex-start
  - How items should align horizontally. Can be any
    acceptable flexbox aligmnent value.

  * align-items: --cluster--vertical-alignment, center
  - How items should align vertically. Can be any
    acceptable flexbox alignment value.

*/

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster--gap, var(--step-0));
  justify-content: var(--cluster--horizontal-alignment, flex-start);
  align-items: var(--cluster--vertical-alignment, center);
}
