/* 
SIDEBAR
https://every-layout.dev/layouts/sidebar/

A layout that allows you to have a flexible main content area
and a "fixed" width sidebar that sits on the left or right.
If there is not enough viewport space to fit both the sidebar
width *and* the main content minimum width, they will stack
on top of each other

Args
  * gap: --sidebar--gap
  - The space (margin) between the sidebar and non-sidebar

  * flex-basis: --sidebar--bar-width
  - How large the sidebar should be

  * min-inline-size: --sidebar--content-min-width, 50%
  - The minimum size of the main content area
*/
.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar--gap, unset);
}

.with-sidebar > :first-child {
  flex-basis: var(--sidebar--bar-width, auto);
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar--content-min-width, 50%);
}
