@layer reset, vars, default, dark, compositions, utilities, blocks;

@import "@fontsource/azeret-mono/variable.css";
@import "@fontsource/inter/variable.css";
@import "reset.css" layer(reset);
@import "custom-props.css" layer(vars);

@import "_compositions.css" layer(compositions);
@import "_blocks.css" layer(blocks);
@import "_utilities.css" layer(utilities);
@font-face {
  font-family: "Anicons";
  src: url("/AniconsGX.ttf") format("truetype");
  font-display: swap;
}

@tailwind utilities;

@layer dark {
  body {
    @apply dark:bg-dark dark:text-light;
  }
  .dark {
    --bg-img: url("/bg-tile-light.png");
  }
}

@layer default {
  /* Global styles */
  :root {
    /* Content from top */
    --margin-top: var(--space-m);
    --avatar-size: var(--space-xl);
    /* Putting all together: top + avatar + 2 times padding */
    --avatar-plus-margin-top: calc(
      var(--margin-top) + var(--avatar-size) + 2 * var(--space-3xs)
    );
    /* sidebar.css */
    --gutter: var(--space-2xs);
    --sidebar-target-width: var(--space-sidebar);
    --sidebar-content-min-width: 65%;
    /* content area */
    --sticker-width: 60px;
    /* scrollbar */
    --sb-r: #860111;
    --sb-o: #ff4605;
    /* BG */
    --bg-img: url("/bg-tile-dark.png");
  }

  body {
    @apply bg-light text-dark text-0 font-sans overflow-x-hidden;
  }

  /* Ensure some breathing before anchor tag */
  :target {
    scroll-margin-top: var(--margin-top, 2ex);
  }

  ::-webkit-scrollbar {
    width: 0.8rem;
  }
  ::-webkit-scrollbar-button:vertical:decrement {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='85'%3E🚀%3C/text%3E%3C/svg%3E")
      top no-repeat;
  }
  ::-webkit-scrollbar-button:vertical:increment {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='85'%3E🔥%3C/text%3E%3C/svg%3E")
      top no-repeat;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: linear-gradient(
          135deg,
          var(--sb-r) 12.5%,
          var(--sb-o) 12.5%,
          var(--sb-o) 25%,
          transparent 25%
        ) -2.5px 0,
      linear-gradient(
          -135deg,
          var(--sb-r) 12.5%,
          var(--sb-o) 12.5%,
          var(--sb-o) 25%,
          transparent 25%
        ) -2.5px 0,
      linear-gradient(
        45deg,
        var(--sb-r) 12.5%,
        var(--sb-o) 12.5%,
        var(--sb-o) 25%,
        transparent 25%
      ),
      linear-gradient(
        -45deg,
        var(--sb-r) 12.5%,
        var(--sb-o) 12.5%,
        var(--sb-o) 25%,
        transparent 25%
      );
    background-size: 5px 5px;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    font-weight: 900;
  }

  h1 {
    @apply text-4;
  }

  h2 {
    @apply text-3;
  }

  h3 {
    @apply text-2;
  }

  p,
  li {
    max-width: 70ch;
  }

  h1 {
    max-width: 15ch;
  }

  h2,
  h3 {
    max-width: 30ch;
  }

  a {
    color: currentcolor;
    text-decoration-color: var(--color-primary);
  }

  a:hover {
    text-decoration: none;
  }

  /* Prose */
  h2,
  h3 {
    --flow-space: var(--space-size-3);
  }

  h2 + *,
  h3 + * {
    --flow-space: var(--space-base);
  }

  /* So text scale renders nicely */
  div[class*="text-"] {
    --flow-space: 1rem;
    line-height: 1;
    font-weight: 700;
  }
}
