@layer reset, vars, default, themes, compositions, blocks, utilities;

@import "@fontsource/fira-mono";
@import "reset.css" layer(reset);
@import "custom-props.css" layer(vars);

/* Compositions */
@import "_compositions.css" layer(compositions);

/* Blocks */
@import "_blocks.css" layer(blocks);

/* Utilities */
@import "_utilities.css" layer(utilities);

/* Tailwind utilities */
@tailwind utilities;

@layer default {
  @media (prefers-color-scheme: light) {
    :root {
      --color-lightest: hsl(0deg, 0%, 100%);
      --color-lighter: hsl(0deg, 0%, 80%);
      --color-light: hsl(0deg, 0%, 60%);
      --color-strong: hsl(0deg, 0%, 40%);
      --color-stronger: hsl(0deg, 0%, 20%);
      --color-strongest: hsl(0deg, 0%, 0%);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-lightest: hsl(0deg, 0%, 0%);
      --color-lighter: hsl(0deg, 0%, 20%);
      --color-light: hsl(0deg, 0%, 40%);
      --color-strong: hsl(0deg, 0%, 60%);
      --color-stronger: hsl(0deg, 0%, 80%);
      --color-strongest: hsl(0deg, 0%, 100%);
    }
  }

  /* Global styles */
  :root {
    font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: "Fira Mono", monospace;
  }

  body {
    padding: var(--space-size-2) var(--space-size-1);
    @apply bg-light text-dark text-size-1 font-sans;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    font-weight: 900;
  }

  h1 {
    @apply text-size-4;
  }

  h2 {
    @apply text-size-3;
  }

  h3 {
    @apply text-size-2;
  }

  p,
  li {
    max-width: 70ch;
  }

  h1 {
    max-width: 15ch;
  }

  h2,
  h3 {
    max-width: 30ch;
  }

  a {
    color: currentcolor;
    text-decoration-color: var(--color-primary);
  }

  a:hover {
    text-decoration: none;
  }

  /* Prose */
  h2,
  h3 {
    --flow-space: var(--space-size-3);
  }

  h2 + *,
  h3 + * {
    --flow-space: var(--space-base);
  }

  /* So text scale renders nicely */
  div[class*="text-"] {
    --flow-space: 1rem;
    line-height: 1;
    font-weight: 700;
  }
}
