---
/* Layouts */
import Layout from "@layouts/Layout.astro";
import Sidebar from "@layouts/Sidebar.astro";
import Menu from "@layouts/Menu.astro";
import "@layouts/compositions/sidebar.css";
import "@layouts/utilities/center.css";

/* Components */
import ThemeSwitch from "@components/ThemeSwitch.astro";
import AlpineSelect from "@components/AlpineSelect.astro";
import ContentHeader from "@components/ContentHeader.astro";
import Content from "@components/Content.astro";

/* Lib */
import { renderOverview, tagTimestampByLatest } from "@lib/xform";

/* Input */
import type { FrontMatter, TDate } from "@lib/api";
const posts = await Astro.glob<FrontMatter>("../pages/read/**/*.md");

/* Tag Search */
const dataTag: TDate[] = tagTimestampByLatest(posts);
const filterTag = ({ tag }: TDate) => tag;
const styleTag = ["font-semibold", "bg-blue-200"];
---

<style>
  .this {
    /* utilities/center.css */
    --center--measure: clamp(16rem, 95vw, 91rem);
    /* compositions/sidebar.css */
    --sidebar--gap: var(--step--2);
    --sidebar--bar-width: clamp(18.38rem, calc(16.77rem + 8.05vw), 22.5rem);
    --sidebar--content-min-width: 65%;

    /* MainMenu + ContentHeader*/
    --rocket-overlap: 24px;
    --top-placement: 36px;
  }
</style>

<Layout title="ja|nz's logbook">
  <div class="this | center | with-sidebar">
    <Sidebar>
      <AlpineSelect inp={dataTag} key={filterTag} style={styleTag}>
        <Menu>
          <div slot="header" class="|| bg-blue">MainMenu</div>
          <input
            slot="header"
            type="text"
            placeholder="Search tags"
            x-model="search"
          />
          <ul slot="items">
            <template x-for="x in f(search)">
              <li>
                <span x-html="hl(search, x.tag)"></span>
                <span x-text="x.date"></span>
              </li>
            </template>
          </ul>
        </Menu>
      </AlpineSelect>
    </Sidebar>
    <div id="main-content" class="|| bg-orange">
      <ContentHeader>
        <div>Content</div>
      </ContentHeader>
      <Content>
        {
          ["a", "b", "i", "j", "k", "x", "y", "i", "j", "k"].map((i) => (
            <div class="|| border border-black h-30">{i} ContentCard</div>
          ))
        }
      </Content>
    </div>
  </div>
</Layout>
