---
import Layout from "@layouts/Layout.astro";
import MainMenu from "@layouts/MainMenu.astro";
import ContentHeader from "@components/ContentHeader.astro";
import Content from "@components/Content.astro";
// CSS
// sidebar | content
import "@layouts/compositions/sidebar.css";
//  provides a consistent max width,
//  padded container that sits in the middle of the viewport
import "@layouts/utilities/center.css";
import ThemeSwitch from "@components/ThemeSwitch.astro";
---

<style>
  .this {
    /* utilities/center.css */
    --center--measure: clamp(16rem, 95vw, 91rem);
    /* compositions/sidebar.css */
    --sidebar--gap: var(--step--2);
    --sidebar--bar-width: clamp(18.38rem, calc(16.77rem + 8.05vw), 22.5rem);
    --sidebar--content-min-width: 65%;

    /* MainMenu + ContentHeader*/
    --rocket-overlap: 24px;
    --top-placement: 36px;
  }
</style>

<Layout title="Skeleton">
  <main class="this | center | with-sidebar">
    <MainMenu>
      <div slot="header" class="|| bg-blue">MainMenu</div>
      {
        ["a"].map((i) => (
          <div slot="items" class="|| border border-black h-30">
            {i} MenuCard
          </div>
        ))
      }
    </MainMenu>
    <div id="main-content" class="|| bg-orange">
      <ContentHeader>
        <div>Content</div>
      </ContentHeader>
      <Content>
        {
          ["a", "b", "i", "j", "k", "x", "y", "i", "j", "k"].map((i) => (
            <div class="|| border border-black h-30">{i} ContentCard</div>
          ))
        }
      </Content>
    </div>
  </main>
</Layout>
