---
import type { FrontMatter } from "@lib/api";
import { tagTimestampByLatest } from "@lib/xform";

const posts = await Astro.glob<FrontMatter>("../pages/read/**/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
const tags = tagTimestampByLatest(posts);
---

<div>
  {
    tags.map(([t, ts]) => (
      <article>
        <h1>{t}</h1>
        <p>TS: {ts}</p>
      </article>
    ))
  }
</div>
