---
import "@layouts/compositions/sidebar.css";
import "@layouts/compositions/stack.css";

import ThemeSwitch from "@components/ThemeSwitch.astro";
import SearchToggle from "@components/SearchToggle.astro";

const key = "open";
const xData = JSON.stringify({ [key]: false });
---

<style>
  .stack {
    /* compositions/stack.css */
    --stack--spacing: auto;
  }
  .with-sidebar {
    /* compositions/sidebar.css */
    --sidebar--bar-width: auto;
    --sidebar--gap: 0;
    --sidebar--content-min-width: 0;

    align-items: center;
  }
  .nav {
    display: inline-flex;
  }
  .left {
    margin-left: auto;

    /* TODO might not be needed */
    display: flex;
  }
  .show {
    /* Show wrapper */
    display: contents;
  }
</style>

<div x-data={xData} class="stack || bg-blue">
  <div class="with-sidebar">
    <slot name="head" />
    <div class="nav">
      <div class="left">
        <SearchToggle
          key={key}
          classes={{ t: "i-lucide-arrow-up-circle", f: "i-lucide-search" }}
        />
        <ThemeSwitch
          key="colorScheme"
          classes={{ t: "i-lucide-sun", f: "i-lucide-moon" }}
        />
      </div>
    </div>
  </div>
  <div class="show" x-show={key} x-transition>
    <slot name="subhead" />
  </div>
</div>
