---
import "@layouts/compositions/stack.css";

import ThemeSwitch from "@components/ThemeSwitch.astro";
import SearchToggle from "@components/SearchToggle.astro";

const key = "open";
const xData = JSON.stringify({ [key]: false });
---

<style>
  .stack {
    /* compositions/stack.css */
    --stack--spacing: auto;
  }
  header {
    display: inline-flex;
    align-items: center;
  }
  .tool {
    margin-left: auto;
  }
  .show {
    /* Show wrapper */
    display: contents;
  }
</style>

<div x-data={xData} class="stack || bg-blue">
  <header>
    <slot name="head" />
    <div class="tool">
      <SearchToggle
        key={key}
        classes={{ t: "i-lucide-arrow-up-circle", f: "i-lucide-search" }}
      />
      <ThemeSwitch
        key="colorScheme"
        classes={{ t: "i-lucide-sun", f: "i-lucide-moon" }}
      />
    </div>
  </header>
  <div class="show" x-show={key} x-transition>
    <slot name="subhead" />
  </div>
</div>
