---
---

<style>
  .this {
    /* Spacing to the sticky header */
    margin-block-start: var(--top-placement);
    background-attachment: fixed;
  }
</style>

<div class="this | tile-light dark:tile-dark">
  <slot />
</div>
