---
interface Props {
  key: string;
}

const { key } = Astro.props;
const xData = JSON.stringify({ [key]: true });
---
<div style="display: contents;" x-data={xData}>
  <div x-show={key}>
      <slot name="front" />
  </div>
  <div x-cloak x-show={`!${key}`}>
      <slot name="back" />
  </div>
</div>
