---
const key = "toggle";
const xData = JSON.stringify({ [key]: true });
---

<style>
  div {
    display: contents;
  }
</style>

<div class="this" x-Data={xData}>
  <div class="show" x-show={key}>
    <slot name="this" />
  </div>
  <div class="show" x-show={`!${key}`}>
    <slot name="that" />
  </div>
</div>
