---
// Corresponds with *layouts/Layout.astro*
interface Props {
  key: string;
  classes: { t: string; f: string };
}
const { key, classes } = Astro.props;
---

<button
  x-on:click={`${key} = ${key} === 'dark' ? 'light' : 'dark'`}
  class={`${classes.t} dark:${classes.f}`}></button>
