/* STICKY HEADER */
.sticky-header {
  position: sticky;
  top: var(--space-size-2);

  &::before {
    z-index: -1;
    width: 100%;
    height: 200px;
    position: absolute;
    content: "";
    /* TODO */
    /* background-color: white; */
  }
}
