---
---

<style>
  .this {
    min-height: calc(100vh - 1px);
    z-index: 1;
    background-attachment: fixed;
  }
</style>
<div class="this | tile-light dark:tile-dark || bg-orange">
  <slot />
</div>
