---
import "@layouts/compositions/stack.css";
---

<style>
  .this {
    min-height: calc(100vh - 1px);
    z-index: 1;
    background-image: var(--bg-img);
    background-attachment: fixed;
  }
</style>
<div x-data="{ search: '' }" class="this | stack | bg-light dark:bg-dark">
  <slot />
</div>
