---
interface Props {
  active?: string;
  ssg?: boolean;
}
const { ssg, active } = Astro.props;

import "@layouts/compositions/sidebar.css";
import "@layouts/compositions/stack.css";
---

<style>
  .with-sidebar {
    /* compositions/stack.css */
    --stack--spacing: auto;

    /* compositions/sidebar.css */
    --sidebar--bar-width: 100px;
    --sidebar--gap: var(--step-0);
    --sidebar--content-min-width: 0;

    align-items: center;
  }
</style>

<li
  x-show={ssg ? "0" : "1"}
  x-data={`{ active: "${active}", tag: $data.tag || "" }`}
  x-init="active === tag && $el.scrollIntoView(false)"
  x-bind:class="active === tag && 'active'"
  class="with-sidebar"
>
  <slot name="avatar" />
  <aside class="stack">
    <slot />
  </aside>
</li>
