---
import "@layouts/compositions/stack.css";
---

<style>
  .this {
    /* Spacing between elements in main menu */
    --stack--spacing: 1.5rem;
    /* Fit to Sidebar Parent hight setting */
    height: 100%;
  }
  .items {
    /* Related to max-height; Menu scroll bar  */
    overflow-y: auto;
  }
  .items::-webkit-scrollbar {
    display: none;
  }
</style>

<div class="this | stack">
  <slot name="header" />
  <nav class="items">
    <ul>
      <slot name="items" />
    </ul>
  </nav>
</div>
