---
interface Props {
  active?: string;
}
const { active } = Astro.props;

import "@layouts/compositions/sidebar.css";
import "@layouts/compositions/stack.css";
---

<style>
  .with-sidebar {
    /* compositions/stack.css */
    --stack--spacing: auto;

    /* compositions/sidebar.css */
    --sidebar--bar-width: 20%;
    --sidebar--gap: 5%;
    --sidebar--content-min-width: 0;

    align-items: center;
    padding: 5px;
    max-width: 500px;
  }
</style>

<li
  x-data={`{ active: "${active}" }`}
  x-init="active === tag && $el.scrollIntoView(false)"
  x-bind:class="active === tag && 'active'"
  class="with-sidebar"
>
  <div x-html="avatar"></div>
  <aside class="stack">
    <slot />
  </aside>
</li>
