---
---

<style>
  .this {
    /* Stick to top */
    position: sticky;
    top: var(--top-placement);
    /* Normal view: Fit sidebar into viewport, overflow causes local scroll */
    max-height: calc(100vh - var(--top-placement) - 1px);
  }

  /* Mobile view */
  @media (max-width: 1114px) {
    .this {
      max-height: 71vh;
      /*
        Mobile view: Offset to bottom, adds up to:
        - this --top-placement shift
        - height of the 'rocket overlay' in ContentHeider:
        --top-placement + --rocket-overlap
      */
      margin-block-end: calc(var(--top-placement) * 2 + var(--rocket-overlap));
    }
  }
</style>

<div class="this">
  <slot />
</div>
